.btnAdd {
  background-color: #000;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
}

.title {
  display: block;
  margin: 0 auto 12px;
  text-align: center;
}

.form {
  padding: 0 32px;
  max-width: 80%;
}

.formGroup {
  margin-bottom: 24px;
}

.inputField {
  border: 1px solid #000;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  display: block;
  width: 100%;
  color: #000;
}

.errorTxt {
  color: red;
  font-size: 12px;
  margin: 4px 0 0;
}

.label {
  font-weight: 600;
}
