.product-admin {
  max-width: 100%;
  background-color: transparent;
  overflow-y: scroll;
  &--create {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    &--btn {
      margin: 4px 8px;
      background-color: black;
      justify-content: center;
      align-items: center;
      width: 120px;
      color: white;
      cursor: pointer;
      border-radius: 8px;
      display: flex;
    }
  }
  .drawer-form-product {
    * {
      box-sizing: border-box;
    }
    max-width: 80%;
    margin-left: 32px;
    overflow-y: auto;

    .form-group {
      margin-bottom: 16px;

      .form-control {
        border: 1px solid #000;
        padding: 8px 12px;
        outline: none;
        color: #000;
        width: 100%;
        border-radius: 4px;
      }

      &--variant {
        display: flex;
        align-items: center;
        column-gap: 12px;
        height: 32px;

        .form-control {
          height: 100%;
        }

        .btn-add {
          background-color: #000;
          padding: 6px 12px;
          color: #fff;
          border: none;
          outline: none;
          white-space: nowrap;
          border-radius: 4px;
          height: 100%;
        }
      }

      .error-message {
        margin-top: 4px;
      }
    }

    label {
      font-weight: 600;
      display: block;
      margin-bottom: 4px;
    }

    span {
      width: 100%;
    }
    &--image {
      margin: 20px 0;
      &--img {
        padding: 8px 12px;
        background-color: black;
        color: white;
        border-radius: 8px;
        cursor: pointer;
      }

      .btn-pick-image {
        background-color: #000;
        display: inline-block;
        padding: 8px 12px;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    &--btn {
      margin-bottom: 32px;

      button {
        background-color: #000;
        color: #fff;
        padding: 10px 12px;
        border-radius: 4px;
        border: none;
        outline: none;
        display: block;
        margin: 0 auto;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .product-image {
      width: 100px;
      height: 140px;
      display: inline-block;
      margin-right: 12px;
      position: relative;

      img {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        position: absolute;
        top: -4px;
        right: -4px;
        background-color: #000;
        border-radius: 100%;
        border: none;
        outline: none;
        color: #fff;
        width: 20px;
        height: 20px;
      }
    }
  }
}
